[2019-03-25 15:04] matteobortolazzo opened #8 "Implement SSL certificates in the iQueryable branch"
Hi @borigas

if you have free time, can you help me with the SSL cert?
It's something I'm not familiar with so I don't know what to copy and how to test it.

Thank you :)

[2019-03-25 15:34] borigas commented on #8
Sure. Anything specific?

Here's the [official docs](http://docs.couchdb.org/en/1.3.0/ssl.html) on how to configure SSL for the CouchDb server. If you use a certificate that passes the default validation (trusted cert, machine name matches, valid dates, etc), everything should just work over SSL. But if you're cert fails the default validation (self-signed cert like in their instructions, machine

[2019-03-25 16:13] matteobortolazzo commented on #8
So, with this code it will always validate the certificate?
Is it safe?

[2019-03-25 16:17] matteobortolazzo commented on #8
Sorry stupid question, is up to the user use a valid certificate.
Thank you!

[2019-03-25 16:23] borigas commented on #8
Exactly, this code will always accept any cert presented, so it's not safe. As it sits in my above code snippet, the SSL would provide encryption, but not validate that the server is who you expect. It's up to the user to implement cert validation at that `TODO` to decide whether it will accept the certificate

[2019-03-25 16:23] matteobortolazzo commented on #8
I'll add a "RemoveCertificateValidation" and "ConfigureCustomerCertificateValidation(func)" so user can decide what to do.

[2019-03-25 16:49] matteobortolazzo commented on #8
@borigas
The iQueryable should be almost ready for release if you want to test something or if you have any suggestions.

[2019-03-25 16:50] matteobortolazzo commented on #8
[code]

[2019-03-25 21:26] borigas opened #10 "Camelized Member Names"
@matteobortolazzo Why camelize the member names in https://github.com/matteobortolazzo/couchdb-net/blob/6123c39061f6590442705db938a2c7a53056c23b/src/CouchDB.Driver/Translators/MemberExpressionTranslator.cs#L18

In my case, the data in couch is all pascal case, so queries no longer find anything. I'm going to work around it locally by removing that, but it feels intentional, so I don't think I shou

[2019-03-25 21:38] matteobortolazzo commented on #10
Sorry, you are totally right!
I'm not used to PascalCase in javascript but yes, I need to add an option!

[2019-03-26 09:06] #8 closed

[2019-03-26 10:50] matteobortolazzo commented on #10
Give it a try :)
[code]

[2019-03-26 10:50] #10 closed

[2019-03-26 10:52] matteobortolazzo commented on #10
Do you have a better name for "SetPropertiesCaseType"? Is it correct "CaseType"? Sometimes I doubt about my English.

[2019-03-26 14:44] borigas commented on #10
Maybe `SetPropertyCase(CaseType.None)`?

[2019-03-26 16:23] matteobortolazzo opened #12 "Replacing LastExecutionStats and LastBookmark."
@borigas
Any idea on how to get ExecutionStats and Bookmark?
The current implementation doesn't guarantee that the "Last" is really the last if async is involved.

Other than that and NewIndex, there should be all the previous features.

[2019-03-26 16:40] borigas commented on #12
It's probably bad practice, but I haven't had a need for those yet. I've just used a high enough `.Take()` to include all my records, so I haven't had to find a way to make this work

My best idea for the API would be for the `CouchQuery<T>` to have `ExecutionStats` and `Bookmark`. You'd also probably need to change to `CouchQuery<T> : ICouchQuery<T>` where `ICouchQuery<T>` is
[code]
Not sure how

[2019-03-26 17:05] matteobortolazzo commented on #12
Yes, it's what I was thinking, expect only implementing ienumerable.

And add an extension method for IQueryable that returns that instead of a simple IEnumerable.

[2019-03-26 22:25] matteobortolazzo commented on #12
ToCouchList and ToCouchListAsync added.

[2019-03-26 22:25] #12 closed

[2019-04-09 15:40] AndreasFurster opened #28 "Nuget page link to Source invalid"
The link to the Source code on Nuget is invalid.
https://www.nuget.org/packages/CouchDB.NET

https://github.com/matteobortolazzo/couchdb-ne
Should be
https://github.com/matteobortolazzo/couchdb-net

[2019-04-09 15:41] AndreasFurster opened #29 "Replication & updates"
Are you planning to implement replication and update events? I am interested in using it.

[2019-04-09 19:14] matteobortolazzo commented on #28
Thank you very much! Didn't notice that

[2019-04-09 19:17] matteobortolazzo commented on #29
This project is born mostly for queries, but I have no problem implementing other things.
Can you tell me what are the APIs you're interested in? And do you want to help with testing? Or code if you want.

[2019-04-09 21:48] #28 closed

[2019-08-16 21:27] borigas opened #47 "$in queries with enums are serialized as names, not ints"
[code]
fails. It gives `{"selector":{"species":{"$in":[Human,Droid]}}}`, which doesn't match other tests (`Find_Selector.Enum()`) that are expecting enums to be serialized to ints

[2019-08-19 10:37] #47 closed

[2019-10-28 15:03] biapar commented on #29
@AndreasFurster Do you mean client side?

[2019-10-28 15:04] biapar opened #50 "Which is a client side compatibile db under .NET ( Xamarin ) and that support sync?"
Which is a client side compatibile db under .NET ( Xamarin ) and that support sync?

[2019-10-28 15:34] biapar opened #51 "Is't possible to use direct a JSON string and use this lib like a HTTP rest wrapper to CouchDB?"
Is't possible to use direct a JSON string and use this lib like a HTTP rest wrapper to CouchDB?

[2019-10-29 22:44] matteobortolazzo commented on #51
Yes! Just try with await `db.QueryAsync(someMangoJson);`

[2019-10-29 22:44] #51 closed

[2019-10-29 22:45] matteobortolazzo commented on #50
Hi I don't think there are compatible client side DBs for this.

[2019-10-31 13:31] #50 closed

[2020-02-13 10:17] biapar opened #58 "Changes Feed for pushing new data"
Is't possibile to use this driver to receive new data from _changes?

[2020-02-13 10:22] matteobortolazzo commented on #58
Hi, not yet.
What's the best implementation for this?

[2020-02-14 21:53] biapar commented on #58
Polling? SignalR? MQTT?

[2020-03-03 08:03] eldhoabe opened #61 "Unable to update the document"
`public async Task<IEnumerable<Voyage>> SetEmailSent(IEnumerable<Voyage> voyages)
        {
            if (voyages == null || !voyages.Any())
                return null;

            using (var couchClient = new CouchClient(couchDbUrl, g => g.EnsureDatabaseExists()))
            {
                var voyageMaster = couchClient.GetDatabase<Voyage>("test");

                foreach (var voyage in

[2020-03-03 10:35] matteobortolazzo commented on #61
Hi,
can you check first using the API please?[https://docs.couchdb.org/en/stable/api/document/common.html#get--db-docid](https://docs.couchdb.org/en/stable/api/document/common.html#get--db-docid)

But I think the sequence should contains elements. But it's hard for me to test this in my env.

[2020-03-05 08:14] eldhoabe commented on #61
Sure thanks for your support

[2020-03-05 08:14] #61 closed

[2020-03-05 09:26] matteobortolazzo commented on #61
Let me know if the conflicts array is not empty, because it means there is a bug in this library.

[2020-05-25 13:58] n9 commented on #58
@matteobortolazzo Not sure what you mean exactly, I would say:
- reading via [feed-continuous](https://docs.couchdb.org/en/master/api/database/changes.html#continuous)
- api
  - `IAsyncEnumerable` with `CancellationToken`
  - callback with `CancellationToken`
  - [maybe IObservable/IObserver]

[2020-05-27 17:56] matteobortolazzo commented on #58
Yes, my question was about what's be most effective way for developers. I was thinking of simple events but I will check IAsyncEnumerable. I want to work on this feature from this week onward

[2020-05-29 15:56] matteobortolazzo commented on #58
FYI I am pretty sure I will use IAsyncEnumerable with CancellationToken

[2020-05-31 17:52] matteobortolazzo commented on #58
@biapar @n9 I implemented an early code for this in the **changes-feed** branch . Can you provide me some feedback if you don't mind please?

The are 2 new methods for the database:
[code]

To use the continuous feed:
[code]

[2020-05-31 17:54] matteobortolazzo opened #64 "Should throws exceptions for unsupported LINQ methods like EF Core 3.0"

[2020-05-31 17:55] matteobortolazzo opened #65 "Remove dependency in Newtonsoft.JSON and make it optional"

[2020-05-31 18:01] matteobortolazzo commented on #29
Closing this since it is tracked in  #58

[2020-05-31 18:01] #29 closed

[2020-05-31 18:06] matteobortolazzo opened #66 "Refactor documentation and code"

[2020-05-31 18:06] matteobortolazzo opened #67 "Move pipeline to YAML"

[2020-05-31 18:08] matteobortolazzo opened #68 "Improve testability introducing more interfaces for main classes"

[2020-06-03 19:33] matteobortolazzo opened #69 "Enabling Non-Null Reference Types"

[2020-06-03 19:42] borigas commented on #64
Related detail that may fit in this issue. Currently, calling `db.Where(...).Where(...)` creates an invalid query that seems to have undefined results. Ideally, chaining would work, but if not, throwing would be a sufficient for me. I haven't had a chance to look at handling this better, but this issue sounds like it could resolve this issue

[2020-06-03 20:09] matteobortolazzo commented on #64
I think that could be handled, but in a different "issue" as an improvement. It's just an "AND" between the 2 conditions. Thanks for the suggestion

[2020-06-03 20:09] matteobortolazzo opened #70 "Handle multiple Where calls"

[2020-06-09 14:09] n9 opened #72 "EnsureDatabaseExists"
1. `GetDatabase` with `CheckDatabaseExists` setting can create database, if it does not exist. However, it is done synchronously (via `AsyncContext.Run`). What about to provide another method `ObtainDatabaseAsync`?

1. `GetDatabasesNamesAsync` is called to check whether database exists. What about to use [HEAD /db](https://docs.couchdb.org/en/stable/api/database/common.html#head--db), which is mor

[2020-06-09 14:43] n9 commented on #72
4. Another options for 2. would be to directly call CreateDatabaseAsync and check for HTTP 412.

[2020-06-09 15:36] n9 opened #73 "AuthenticationType.Cookie calls LoginAsync synchronously"
`LoginAsync` is synchronously called in `OnBeforeCall` when using `AuthenticationType.Cookie` and token is expired. What about to use `FlurlHttpSettings.BeforeCallAsync`?

[2020-06-09 15:41] n9 opened #74 "Expose CouchClient.NewRequest"
Making `CouchClient.NewRequest` public would easily allow creating custom requests. (It might not be available on `ICouchClient` interface.)

[2020-06-09 16:54] n9 opened #75 "FindManyAsync crashes with NRE"
`FindManyAsync` crashes when passing non-existent document id.

[code]

[2020-06-09 18:46] n9 commented on #58
@matteobortolazzo I have some issues with cancellation token (seems not working properly). I will investigate more.

[2020-06-10 07:32] n9 commented on #58
It seems to me that cancellation token is not working because it is not used during reading (~ waiting for new change):
https://github.com/matteobortolazzo/couchdb-net/blob/24b851e5961cd06bd5f544e04d0a49c0df55bd4e/src/CouchDB.Driver/CouchDatabase.cs#L517

You might need to use [`ReadAsync`](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader.readasync?view=netcore-3.1#System_IO_Stre

[2020-06-10 07:56] n9 opened #76 "Support for local (non-replicating) documents"
There are useful for storing synchronization metadata. For instance, when you synchronize CouchDB with other databases.

Documentation: https://docs.couchdb.org/en/3.1.0/api/local.html

[2020-06-11 12:41] matteobortolazzo commented on #74
You mean if the is a new API that the package do not support?

To keep base url and authentication?

Make a lot of sense

[2020-06-11 12:42] n9 commented on #74
Might be also good for keep-alive. (Not sure how flurl handle this.)

[2020-06-11 12:44] matteobortolazzo commented on #74
What do you mean?

[2020-06-11 12:46] matteobortolazzo commented on #76
This is a big requirements, the interface do not patch the one for normal documents. But it's possible

[2020-06-11 12:47] n9 commented on #74
To reuse tcp socket to avoid [port exhaustion](https://docs.microsoft.com/en-us/archive/blogs/askds/port-exhaustion-and-you-or-why-the-netstat-tool-is-your-friend) caused by [TIME_WAIT](https://stackoverflow.com/questions/11569441/how-do-i-prevent-socket-port-exhaustion).

[2020-06-11 12:51] matteobortolazzo commented on #58
I got what you mean, in my test it was working because I cancel the token after receiving a specific document change. But if it waits in the readline it breaks I suppose. I will add tests for sure.

About that piece of code, I copied that somewhere. If not needed I'll remove it

[2020-06-11 13:04] #75 closed

[2020-06-11 13:05] matteobortolazzo commented on #75
Merged in V2

[2020-06-21 17:07] matteobortolazzo commented on #58
@n9 Can you test again with the latest update please?

[2020-06-22 09:55] matteobortolazzo opened #79 "Support proxy authentication"

[2020-06-22 09:55] matteobortolazzo opened #80 "Support ASP.NET Core DI"

[2020-06-22 16:16] matteobortolazzo commented on #72
I will remove `CheckDatabaseExists`. `GetDatabase` will not check, `GetSafeDatabaseAsync` will

[2020-06-23 12:54] matteobortolazzo opened #81 "Proper support for ToListAsync, AnyAsync, FirstAsync, Etc"

[2020-07-01 13:30] matteobortolazzo opened #82 "Remove dependency on Flurl"

[2020-07-02 09:19] bender-ristone opened #83 "wrong type for purge_seq in CouchDatabaseInfo"
purge_seq is string not int in  CouchDB/3.1.0

`CouchDB.Driver.Exceptions.CouchException : Exception of type 'CouchDB.Driver.Exceptions.CouchException' was thrown.
---- Flurl.Http.FlurlParsingException : Response could not be deserialized to JSON: GET http://localhost:5984/xunit-complete
-------- Newtonsoft.Json.JsonReaderException : Could not convert string to integer: 0-g1AAAABPeJzLYWBgYMpgTmHgz

[2020-07-02 12:26] matteobortolazzo commented on #83
@bender-ristone Fixed with v1.2.2 🙂

[2020-07-02 12:26] #83 closed

[2020-07-02 12:29] matteobortolazzo opened #85 "Add support for JWT Authentication"

[2020-07-02 12:52] matteobortolazzo commented on #64
Hi @borigas I released an alpha of V2 is you want to try. It also support multiple Where calls.

Quick description here: [V2.md](https://github.com/matteobortolazzo/couchdb-net/blob/master/V2.md)

[2020-07-02 13:02] matteobortolazzo opened #86 "Rewrite documentation"

[2020-07-02 13:02] matteobortolazzo opened #87 "Create tool to preview final query."

[2020-07-02 13:04] matteobortolazzo commented on #66
Merged in V2

[2020-07-02 13:04] #66 closed

[2020-07-02 13:04] matteobortolazzo commented on #70
Merged in V2

[2020-07-02 13:04] #70 closed

[2020-07-02 13:04] #64 closed

[2020-07-02 13:04] matteobortolazzo commented on #81
Merged in V2

[2020-07-02 13:04] #81 closed

[2020-07-02 13:04] matteobortolazzo commented on #72
Merged in V2

[2020-07-02 13:04] #72 closed

[2020-07-02 13:04] matteobortolazzo commented on #74
Merged in V2

[2020-07-02 13:04] #74 closed

[2020-07-02 13:04] matteobortolazzo commented on #73
Merged in V2

[2020-07-02 13:04] #73 closed

[2020-07-02 13:04] matteobortolazzo commented on #69
Merged in V2

[2020-07-02 13:04] #69 closed

[2020-07-02 13:04] matteobortolazzo commented on #67
Merged in V2

[2020-07-02 13:04] #67 closed

[2020-07-02 13:07] matteobortolazzo commented on #68
Merged in V2

[2020-07-02 13:07] #68 closed

[2020-07-02 13:08] matteobortolazzo commented on #79
Merged in V2

[2020-07-02 13:08] #79 closed

[2020-07-02 14:08] matteobortolazzo commented on #85
Merged in V2

[2020-07-02 14:08] #85 closed

[2020-07-02 18:59] matteobortolazzo commented on #58
@biapar @n9 I released an alpha version of v2 if you want to try it out.

There is a complete rewrite of the internal query logic, the change feed API an other things.

https://github.com/matteobortolazzo/couchdb-net/blob/master/V2.md

[2020-07-03 08:04] n9 commented on #58
@matteobortolazzo
Great that you removed blocking calls (by `AsyncContext.Run`).
Cancellation of `GetContinuousChangesAsync` is still not working. It's blocked on `EndOfStream`. Do not use it.

*More thoughts:*
Do not allocate buffer in cycle (~ do not use `ReadCharAsync`). Allocate one buffer in `ReadLineAsync` instead. (You might use `MemoryPool<T>.Shared.Rent()` for allocation.)

*More thoughts

[2020-07-03 08:11] n9 commented on #72
@matteobortolazzo I am not sure about the name `GetSafeDatabaseAsync`. The name suggests me that there is some SafeDatabase:)

[2020-07-03 08:21] matteobortolazzo commented on #72
Yes you are right, thanks for the feedback!

[2020-07-03 09:07] matteobortolazzo commented on #72
Is it better now?

[2020-07-03 09:11] matteobortolazzo commented on #58
@n9 Can you send me a test example? Because it's working for me so probably I am not considering all cases.

About logout, do you want a try/catch on logout?

[2020-07-03 09:54] n9 commented on #72
Why `CreateDatabaseAsync` calls `ExistsAsync`? It will call 2 http requests.

[2020-07-03 10:11] n9 commented on #58
#### ad example

I am using simple LINQPad code:
[code]

`this.QueryCancelToken` is cancellation token. I cancel cancellation token after all changes are received.

#### ad Logout

As calling `Logout` in `Dispose` is not critical, I would add try/catch into `Dispose` method around `Logout` call. (You might use [.NET logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=a

[2020-07-03 12:26] matteobortolazzo commented on #72
Oh right! I can you check for 412!

[2020-07-03 12:53] matteobortolazzo commented on #58
I agree that ReadCharAsync is not the solution. However if I create E2E tests with a real DB the cancellation token works as expected. I never used LINQPad but could it be related to it?

About the logout, I agree. What do you think about a "ThrowExceptionOnLogoutFail" option?

[2020-07-03 13:11] n9 commented on #72
LGTM

[2020-07-03 13:33] n9 commented on #58
#### ad example

For now, let's ignore the issue.

But just do not use `reader.EndOfStream`. It is doing blocking read call. (It is not asynchronous.)
Someone might uses your lib in desktop or mobile app and s/he will not expect that asynchronous function will do a blocking call and might get issues with blocking of main thread.

And the issue with cancellation will disappear two:)

LINQPad is jus

[2020-07-05 16:03] matteobortolazzo commented on #58
@n9 this should work [https://github.com/matteobortolazzo/couchdb-net/blob/v2/src/CouchDB.Driver/Extensions/StreamReaderExtensions.cs](https://github.com/matteobortolazzo/couchdb-net/blob/v2/src/CouchDB.Driver/Extensions/StreamReaderExtensions.cs)

[2020-07-07 07:33] n9 commented on #58
I have following questions:

#### EndOfStream handling
[code]
Why this? How this solve EndOfStream?

#### Multibyte characters
[code]
What if buffer ends in the middle of multibyte character?
Hint: Use [`Decoder`](https://docs.microsoft.com/en-us/dotnet/api/system.text.decoder?view=netcore-3.1) instead.

#### Line handling
[code]
Let's say the `currentRemainder` is "abc". You are going to remove a

[2020-07-07 08:39] matteobortolazzo commented on #58
@n9

**EndOfStream**
It is true if you cancel the task while ReadAsync is waiting. If ReadAsync is cancelled while reading `isMessageComplete` will be false and it will ignore the line.

**Multibyte characters**
You are right. Sorry I am a noob with bytes and stream. How should I use the Decoder? GetCharCount and GetChars?
But, are they going to be multibyte chars? Because the content of the docum

[2020-07-07 09:07] n9 commented on #58
#### Context
I was reviewing this function according it's name. Later, you might use it in another context. Spec might change. And you may forget in future that you hacked it for one particular HTTP response. (I know it is currently in ChangesFeed namespace.)

#### EndOfStream
It is true when the stream has ended. What if CouchDB is going to stop (e.g. to update). Current version might reset the c

[2020-07-07 09:21] matteobortolazzo commented on #58
Implement a generic ReadLineAsync requires a lot of tests and work.

For multibyte I agree that the ID may be not ASCII (I just tested). So I will try to implement it with the Decoder.

About line handling, I didn't want to enumerate the list to know the number of elements. But yes, I will change it.

And with the end of stream, what do you suggest?

btw thanks for the feedback

[2020-07-07 10:26] n9 commented on #58
*About line handling, I didn't want to enumerate the list to know the number of elements. But yes, I will change it.*
- You do not need to enumerate list. You can use `.Length` in case of array (or `.Count` in case of list).

*And with the end of stream, what do you suggest? Return string.empty and check for it where I use the readline?*
- I suggest `yield return prevRemainder` if `prevRemainder`

[2020-07-11 11:48] matteobortolazzo commented on #58
@n9 The Decoder is smart! Let me know what you think about the latest changes

[2020-07-11 17:06] n9 commented on #58
Cancellation works for me.
I have added minor comments to your commit.

PS:
In case you would like to tune performance, you could reduce allocations using `StringSegment` and `StringTokenizer`. Or better simply do not decode bytes to chars: just split raw bytes and use `Utf8JsonReader` to directly parse json from byte lines (`ReadOnlySequence`).

But I think that current implementation based on po

[2020-07-12 19:56] #76 closed

[2020-07-12 19:56] #86 closed

[2020-07-12 20:15] matteobortolazzo commented on #58
Thanks for the comments! Let me know how it looks now.
About Utf8JsonReader I will check later

[2020-07-12 20:30] n9 commented on #58
LGTM

[2020-07-13 18:44] matteobortolazzo commented on #58
Great, I close this for now. I'll optimize it if needed

[2020-07-13 18:44] #58 closed

[2020-07-14 19:58] #80 closed

[2020-07-15 14:06] bender-ristone opened #90 "IsMatch"
IsMatch is moved to internal and cant be used
how is the like search now?

![image](https://user-images.githubusercontent.com/3150342/87554837-f1b7f800-c6b4-11ea-9013-de5ce2dbd1dd.png)

Version 1.2.2. this works
`
            var result = db.Where(x => x.SearchText.IsMatch(match));
`

[2020-07-15 14:12] matteobortolazzo commented on #90
Oh my bad!! I must have change it by mistake. And unit tests can access internal classes! I will release a fix by the end of the week

[2020-07-16 08:40] n9 opened #91 "ICouchDatabase.AddOrUpdate"
Not sure about your conventions, but `ICouchDatabase<T>.AddOrUpdate` does not have `Async` suffix, so it is not consistent with other methods in the `ICouchDatabase<T>`.

[2020-07-16 08:48] n9 opened #92 "FindAsync without catch"
`FindAsync` currently catches `CouchNotFoundException` so it returns `null` in case that document is not found. I have mocked an implementation that is not using catch: https://github.com/n9/couchdb-net/commit/a877807c18274e75daef4450902b1083292f41c8. In case you would like me to pull-request it, let me know.

[2020-07-16 08:50] matteobortolazzo commented on #91
Totally my bad. I will release a fix this weekend

[2020-07-16 08:53] matteobortolazzo commented on #92
Maybe I should created a dev branch again so you can PR there. Or trigger the pipeline manually. Leave it there, for now. I will see Saturday if I just copy/paste and push in master with the other fixes. BTW thanks a lot

[2020-07-16 11:52] bender-ristone opened #93 "Question, update user password"
Currentlly we can create user, its works fine.
How i can update the password? Its not documented or not implemented yet?

[2020-07-16 15:26] matteobortolazzo commented on #93
It's not implemented.
I will give a look at [https://docs.couchdb.org/en/latest/intro/security.html#password-changing](https://docs.couchdb.org/en/latest/intro/security.html#password-changing) later

[2020-07-16 19:28] matteobortolazzo commented on #92
Actually this approach doesn't work everytime. If TSource has not nullable members and no default constructor to set them (like CouchUser), it will throw an exception

[2020-07-16 20:55] n9 commented on #92
You are right. The problem is that I have not found a simple way to support that scenario in Flurl 2. And who knows when Flurl 3 will be released. What about to drop Flurl dependency together with update to System.Text.Json? ([HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netcore-3.1) API is not so complicated.)

[2020-07-17 08:13] matteobortolazzo commented on #92
It was in my plan for v2 to drop those. However is was not easy. First I need to implement a DefaultHttpClientFactory when not used in Asp.NET Core. Then have my own HttpClient wrapper to make it easier to use. Then change all internal JSON attributes with Text.Json ones. Study the differences between the 2 libraries. And create a new package to keep the support for Newtonsoft.Json

[2020-07-18 13:31] #93 closed

[2020-07-18 13:31] #91 closed

[2020-07-18 13:31] #90 closed

[2020-07-22 16:45] ixthnar opened #96 "One database with multiple document models?"
It appears that the CouchDatabase database name is the name of the CouchDocument class and, thus, one can only have one CouchDocument class per database.  If this is correct, I propose the addition of a means to associate multiple document models with a specific database.  Perhaps an over name in AddCouchContext or an attributes.

Thank you!  CoachDB.Net is great.  Well done.

[2020-07-22 18:50] matteobortolazzo commented on #96
Hi,

yes the CouchContext is something new for v2 but it's missing some features.
I will add a model builder.

As a workaround you can use the CouchClient directly.

You can also access the client from the context.

[code]

[2020-07-22 18:56] ixthnar commented on #96
Thanks!

[2020-07-26 19:15] matteobortolazzo commented on #96
It's strange because it deserialize `AnotherType`. Are you sure properties are accessible and exists in the DB? I will add a proper support soon

[2020-07-26 19:52] matteobortolazzo commented on #96
Maybe I get what you mean. If you call 'ToListAsync' it returns all documents and the ones that are not 'AnotherType' have null properties. Right?

[2020-07-31 12:32] matteobortolazzo commented on #96
Hi @ixthnar,

is this still an issue? I need a context to write a better "fix"

[2020-08-11 05:36] bender-ristone opened #98 "Documentation create index"
the documentation says that we need an index for min/max

how do you do it?

[2020-08-11 07:38] matteobortolazzo commented on #98
No way to do it with the driver now.

You need to create it manually:

[https://docs.couchdb.org/en/stable/api/database/find.html#db-index](https://docs.couchdb.org/en/stable/api/database/find.html#db-index)

[2020-08-12 05:26] bender-ristone commented on #98
@matteobortolazzo I implemented it for us butI don't know exactly where that applies best. if you want

if you write me where it should go and what I should call it I will change that and make the merge request

https://github.com/devlab-leipzig/couchdb-net/commit/88b0766aa6c697437ca54338ed3c4bd7e8423048

[2020-08-12 18:43] matteobortolazzo commented on #98
That's great!

Sorry to bother you, can you please create a separate PR for the Index?

[2020-09-13 19:11] matteobortolazzo opened #100 "Fix Find() with conflicts. Must be ?confilcts=true, not ?conflicts=True"

[2020-09-13 19:14] matteobortolazzo opened #101 "Make json NullValueHandling configurable"

[2020-09-13 19:15] matteobortolazzo opened #102 "Support index creation"

[2020-09-14 12:49] matteobortolazzo commented on #98
Documentation added in #102

[2020-09-14 12:49] #98 closed

[2020-09-14 12:50] matteobortolazzo commented on #96
Closing this

[2020-09-14 12:50] #96 closed

[2020-09-15 09:55] matteobortolazzo opened #103 "Select(x => new { }) not usable"

[2020-09-17 11:48] PulFur opened #104 "Unable to create queries from variables"
After updating from 1.2.1 to latest 2.0.2 version conditions from variables stopped working. This same issue seems to happen in 2.0 version also.

I am able to call the Where method with variables in expressions without exceptions, but it returns with invalid results.

I would expect it to return the documents that matches with variables values, but it returns 0 documents instead. This worked like

[2020-09-17 13:17] PulFur commented on #104
In case someone is facing this same issue here's what I have as a workaround for now:

[code]

[2020-09-17 13:25] matteobortolazzo commented on #104
That's strange!! The `ToString` should behave exactly as the client. I will give a look later

[2020-09-19 10:27] #100 closed

[2020-09-19 10:27] #101 closed

[2020-09-19 10:27] #102 closed

[2020-09-19 10:27] #103 closed

[2020-09-19 10:27] #104 closed

[2020-09-20 10:56] matteobortolazzo commented on #98
Released in 2.1.0

[2020-09-20 10:56] matteobortolazzo commented on #104
Released in 2.1.0

[2020-09-23 06:47] PulFur commented on #104
Verified that this is now working like I would've expected. Thanks a lot for quick fix, I really appriciate it!

[2020-10-20 01:21] codingedgar opened #106 "Custom serializer and multiple models"
Hi!

I use couch db database with multiple models from F#, I was wondering:

1. How to add work with a different serializer (because F# serialized bit weird)?
2. How to work with different documents in the same db?

I assume I can use diff "databases" that are the same but with different TSource.:
[code]

[2020-10-21 10:21] matteobortolazzo commented on #106
Hi,

So for now there's no option to change the serializer, only Newtonsoft.Json, even if I plan to make it more generic, but it's a ton of work.

About the DB with multiple models, you can do it like that but It will try to deserialize everything anyway.

What you could do is to have a boolean and call the Where method to filter things out.

However, I am open to suggestions for proper implementa

[2020-10-22 09:49] PulFur opened #107 "IsUpAsync throws uncaught CouchException instead of returning success value"
Expected:
CouchClient's IsUpAsync method returns false if connection can't be made / service is not up

Actual:
Uncaught CouchException is thrown

Tried to check whether valid CouchClient connection is up and running by using IsUpAsync method, but received uncaught  CouchException instead when invalid IP/port was specified. I would expect it to return false when connection can't be established.

I

[2020-10-23 12:41] willemodendaal opened #108 "Does this library support CouchDb v3+?"
I'm new to couchDb, so I'm not sure what I should look out for... does this nuget package support CouchDb v3 and up?

[2020-10-23 15:31] PulFur commented on #108
May be someone else can answer this better, but I am at least using this with the latest CouchDb 3.1.1 version with multiple features and it works just fine for me. I really like the LINQ into mango queries, that other couch client libraries doesn't seem to have.

I think this does lack the couchdb view functionality as a whole though, but may be it's not in this project's goals(?).

[2020-10-24 07:15] matteobortolazzo commented on #107
Hi, I will give a look. I just followed the documentation. But what you are saying makes sense

[2020-10-24 07:18] matteobortolazzo commented on #108
Hi, yes it does support CouchDB 3+, usually, bugs or features are noticed by users and I fix/implement them (or with PRs).

@PulFur about views I could implement them but I don't know how much it will take, I need to investigate more first. The main goal was to provide LINQ to Mango translations

[2020-10-25 21:03] rlefever68 opened #109 "AddOrUpdateAsync throws "conflict" exception"
## What I expect:
Adding or Updating a Document should either add or update a document, without throwing a "conflict" exception

## The Code
[code]
## The Exception:
[code]

[2020-10-26 08:52] willemodendaal commented on #108
Thanks everyone. Happy +1

[2020-10-26 09:11] matteobortolazzo commented on #109
That's how CouchDB works, it's not a library implementation, the error comes from the DB.
[https://docs.couchdb.org/en/stable/api/document/common.html#put--db-docid](https://docs.couchdb.org/en/stable/api/document/common.html#put--db-docid)

Please debug and checks if the Rev property is the same as the one in the DB before trying to call `AddOrUpdateAsync`

[2020-10-26 09:11] #108 closed

[2020-12-06 07:20] anaszgh opened #110 "Not getting all documents when using ToList/ToListAsync"
i'm trying to query all documents from services database
[code]
the services database has 29 documents
![services](https://user-images.githubusercontent.com/4104274/101274112-d7da9700-37b4-11eb-9b56-a1374f7aec06.PNG)

but the statement returns only 25 records, exactly the first 25 records, and the last 4 are ignored, i've tried to add 1 more record, and the same happened, the first 25 records are

[2020-12-06 13:39] matteobortolazzo commented on #110
Hi, this happens because of how CouchDB works.
By default, it returns the first 25 rows as you can see here: [find.html#db-find](https://docs.couchdb.org/en/stable/api/database/find.html#db-find).

Just use `.Take(n)` to request for more results :)

[2020-12-06 13:39] #110 closed

[2021-01-15 12:25] mail2hjain opened #111 "Query fails due to absence of Index"
I must admit being a newbie for CouchDB. While trying to use where predicates with query APIs, an exception is thrown indicating no Index found for the KeySpace... In this regard, I have below questions -

1. How to create the index from the SDK? I couldn't find any related API in the SDK.
2. Is it required to have a index created for each attribute that is required for filtering ?
3. How does it

[2021-01-15 13:13] matteobortolazzo commented on #111
Hi,

no problem, so:

1) Indexes can be created with the SDK [https://github.com/matteobortolazzo/couchdb-net#indexing](https://github.com/matteobortolazzo/couchdb-net#indexing)
2) Index is not mandatory, depends on o the query, however, with no index it will scan all documents [https://github.com/matteobortolazzo/couchdb-net#indexing](https://github.com/matteobortolazzo/couchdb-net#indexing)
3) D

[2021-01-15 15:46] mail2hjain commented on #111
Thanks @matteobortolazzo for the explanation.
I missed to mention that for different reasons I have to stick with 1.2.2 release (due to support of net standard 2.0). Is there a way to create the index in 1.2.2 release ?

[2021-01-15 15:50] matteobortolazzo commented on #111
Index creation is not implemented in v1. The best you can do is to call the http endpoint manually, or to clone the repo and add the index piece from v2

[2021-01-23 23:53] QualityControll opened #112 "Object disposed before async method completes"
https://github.com/matteobortolazzo/couchdb-net/blob/a2f5ad0723ba00f437cb11ccce69ab5ff6f9de91/src/CouchDB.Driver/Extensions/FlurlRequestExtensions.cs#L27

It looks like here and on line 45, the http content may be disposed before the async method completes, resulting in no http content being added to the request.

[2021-01-24 00:11] QualityControll opened #113 "Query Optimizer doesn't handle short circuited logical expressions"
It looks like the query optimizer could be improved to handle short circuited logical And/Or expressions.  Currently the optimizer/translator will generate invalid mango queries.

Example:

bool useFilter = true; //from user input...
var mango = _database.Where(doc => useFilter && doc.MyField == "foobar").ToString();

The query generated is
{
    "$and" : [
         true,
         "$eq":  {

[2021-01-25 21:44] QualityControll opened #114 "Linq 'Select' broken due to constrained return on CouchDocument"
The Linq statement, 'Select' is broken due to constrained linq extensions.

For instance:
var ids = await _database
      .Select(doc => doc.Id)
      .ToListAsync();

Generates a compiler error, because the return type 'string' is not of type 'CouchDocument'.

[2021-01-26 20:50] matteobortolazzo commented on #112
Hi, did you identify a case when this happens consistently?

[2021-01-26 20:52] matteobortolazzo commented on #113
Hi, this requires a bit of investigation and time, not sure when I can do it. But it's something to improve for sure

[2021-01-26 20:53] #111 closed

[2021-01-26 20:53] #109 closed

[2021-01-26 20:54] matteobortolazzo commented on #114
Hi, what's the expected behavior in your opinion? By design, it will translate what is translatable, and selecting a string is not supported by CouchDB

[2021-01-27 10:22] n9 commented on #112
@matteobortolazzo I think you are missing async/await there and in other places.

[2021-01-27 10:24] n9 commented on #112
You want to dispose after the task has been finished. (Not return pending task and dispose.)

[2021-01-27 16:34] QualityControll commented on #112
Yes, n9 is correct, you should use async/await instead of returning the task without awaiting it.

I noticed this bug when I called 'GetContinuousChangesAsync' with a filter expression.

[2021-01-27 17:20] QualityControll commented on #114
CouchDB can select specific fields from your documents in the query:
https://docs.couchdb.org/en/stable/api/database/find.html
(See the "fields" parameter in link above)

Here's an example of the desired behavior:

var ids = await _database
.Where(doc => doc.DocType == "foo")
.Select(doc => doc.Id)
.ToListAsync();

The query sent to couchdb '_find' would look like this:
{
  "selector": {
       "e

[2021-01-31 15:27] biapar opened #115 "Is there an example of feed changes plus reactive elementsxin c# .net core?"
Is there an example of feed changes plus reactive elementsxin c# .net core?

[2021-01-31 15:41] matteobortolazzo commented on #114
So, you can already select fields, but the requirement to be CouchDocument remains. And as you said, to get the result you want, a lot of work must be done and I don't see it as a critical feature to implement now. I am keeping it here anyway in case I find the time to do it tho

[2021-01-31 15:41] matteobortolazzo commented on #115
Are you talking about a library?

[2021-01-31 15:44] matteobortolazzo commented on #112
To be honest, that part is copied from Flurl itself. Can you create a PR on this? As I am not sure how to test it / why it's a problem to return the task since I don't need the result in there

[2021-01-31 16:50] biapar commented on #115
Using your good lib.

[2021-02-01 11:58] n9 commented on #112
@matteobortolazzo Could you please provide permalink to code in Flurl repo that you copied. (Just one method.)

[2021-02-04 19:51] matteobortolazzo commented on #112
@n9 hi, I think from here https://github.com/tmenier/Flurl/blob/188999bca44b7acb4270f428a2c5374dbf130476/src/Flurl.Http/GeneratedExtensions.cs#L158

[2021-02-04 19:51] matteobortolazzo commented on #115
thanks :) no I mean, is reactive elements a library?

[2021-02-04 21:37] n9 commented on #112
@matteobortolazzo The Flurl code is ok - there is no `using` there. But you code have `using` without `await`.

[2021-02-04 21:44] matteobortolazzo commented on #112
I feel so stupid. Now I get what you mean now...

[2021-02-11 21:25] panoukos41 commented on #114
Hey sorry for popping in like this but couldn't one solution be to deserialize the returned json from the mango query to the type of the select? (I am new to this library so this is an assumption).

While a quick workaround that could be made into an extension method is to perform another selection on the list, since the list that was already produced will have default values for everything inside

[2021-02-11 21:33] matteobortolazzo commented on #114
Hi, maybe adding a Select<T> can work, however, is not as easy as use T in the deserialization since the response in a complex object with more data than just the list. I need to investigate this to give you a proper answer

[2021-02-11 22:05] panoukos41 commented on #114
I see, yea I am a complete noob in CouchDB and Json.NET, I was looking at this library and reading stuff that might make it harder to use when I came across this and thought maybe this idea could help. I believe it could still be much easier than reflection, I remember that System.Text.Json could deserialize a dictionary to a type so Json.NET might have something similar but also it could maybe ig

[2021-02-12 00:46] panoukos41 commented on #106
Hey me again I was looking for this feature too I didn't notice it doesn't have it until I saw this but I came up with a simple workaround 😄.
The _Important_ notes are that `Find` must match the doc type before you run it so that it can be deserialized or else you are trying to deserialize it to the wrong type, anything that runs queries should be abstracted so that the implementation can always r

[2021-02-28 20:35] #115 closed

[2021-02-28 20:37] matteobortolazzo opened #117 "Add support for Views"

[2021-02-28 20:47] #112 closed

[2021-02-28 22:13] matteobortolazzo commented on #92
@n9 With Flurl 3 it's finally possible

[2021-03-03 21:16] matteobortolazzo commented on #96
Implementing in #106

[2021-03-03 21:18] matteobortolazzo commented on #106
@panoukos41 thanks for the input! As your solution is not generic, I opted to add the filter directly in the query builder. Next step is to update the context

[2021-03-03 21:47] panoukos41 commented on #106
Yea it was basically a hack, later I discovered I could skip the context altogether 😀

From my understanding since `GetDatabase<TSource>()` returns a shallow object an `ICouchDatabase` and `CouchDatabase` with no generic argument could be all you need but then every method would have to have a generic argument eg `Find<TSource>` since it only has to do with what the Flurl request will deserialize

[2021-03-04 21:43] matteobortolazzo commented on #106
@panoukos41 doing a non-generic version of `GetDatabase` is not possible, you need types to call LINQ methods, also because on the method called, the type changes, for example, when you call `Select` or `Average`.

What I did instead is:
- injecting the discriminator as a string at database creation
- add an internal discriminator field in CouchDocument
- set the field on document creation
- add a

[2021-03-06 16:38] matteobortolazzo commented on #113
@QualityControll optimization added to the dev branch if you want to test it and give feedback

[2021-03-06 21:13] panoukos41 commented on #106
I see, yea I didn't really know how LINQ works :P but I am happy this feature now works out of the box 😄

[2021-03-09 21:29] #117 closed

[2021-03-09 21:29] #113 closed

[2021-03-09 21:29] matteobortolazzo commented on #117
V3.0.0 released

[2021-03-09 21:29] matteobortolazzo commented on #113
V3.0.0 released

[2021-03-09 21:30] matteobortolazzo commented on #107
V3.0.0 released

[2021-03-09 21:30] #107 closed

[2021-03-09 21:30] matteobortolazzo commented on #106
V3.0.0 released

[2021-03-09 21:30] #106 closed

[2021-03-09 21:30] matteobortolazzo commented on #92
V3.0.0 released

[2021-03-09 21:30] #92 closed

[2021-03-10 04:17] codingedgar commented on #106
Thank you!!

[2021-03-10 17:54] panoukos41 opened #120 "Discriminator field can't be used"
Hey, I was looking at the split feature instructions and noticed that the `discriminator` is set to be serialized as `_discriminator` but CouchDB will not allow that as shown in the picture below because `_` character is considered special

![image](https://user-images.githubusercontent.com/20771798/110674207-568f0800-81da-11eb-9046-8e216c047421.png)

[2021-03-10 17:59] matteobortolazzo commented on #120
Ouch, will fix it now!

[2021-03-10 18:01] matteobortolazzo commented on #120
Can you try the latest dev branch? For some reason, I cannot install CouchDB. Since they use the underscore, I thought it was valid

[2021-03-10 18:02] panoukos41 commented on #120
I will try It now but should be fine, you can put whatever you want but `_`, yea that's what I thought too :P

[2021-03-10 18:05] matteobortolazzo commented on #120
Maybe I should call it `database_discriminator`?

[2021-03-10 18:12] panoukos41 commented on #120
I tried it and it works. Hmmm, you could or maybe start it with `.` or `$`? I think `$` is used for special cases in general since it sets schema on json from what I have seen

[2021-03-10 18:13] panoukos41 commented on #120
Also unrelated but do you think `GetDatabase<TSource>()` could be `GetDatabase<TSource>(string discriminator? = null)` so that you don't always provide the database name?

[2021-03-10 18:13] matteobortolazzo commented on #120
Do you mind giving it a try? Just change the json attribute in CouchDocument

[2021-03-10 18:15] matteobortolazzo commented on #120
That's a choice I made because I think that if you have 2 types of documents in 1 DB, the DB name should not be one of the 2 types. Right?

[2021-03-10 18:18] panoukos41 commented on #120
Okay, none of `.` and `$` work when I try to search :/

Yea that seems better I was using `[JsonObject]` attribute better to leave it this way so that it is more explicit

[2021-03-10 18:21] matteobortolazzo commented on #120
Wow, I forgot `JsonObject` is supported by the library. I thought it was something you were using manually ahah too many features at this point... So you prefer to have `GetDatabase<TSource>(string discriminator? = null)` right?

[2021-03-10 18:33] matteobortolazzo commented on #120
I opted for `split_discriminator`.

About the name, I tried `GetDatabase<TSource>(string discriminator? = null)` but then, if anyone tries to use that overload it will actually call ``GetDatabase<TSource>(string database, string discriminator? = null)`.

So please try last time and I release the fix

[2021-03-10 18:46] panoukos41 commented on #120
Okay, it works just fine, yea that actually makes sense that it's better this way in the end :D

[2021-03-10 18:47] matteobortolazzo commented on #120
Thanks a lot for the help

[2021-03-10 18:47] #120 closed

[2021-03-10 22:15] NBroomfield opened #122 "Partitioned database"
Apologies if I've missed something, but there doesn't seem to be support for partitioned dbs?

https://docs.couchdb.org/en/stable/partitioned-dbs/index.html

It would be nice if the CreateDatabaseAsync and GetOrCreateDatabaseAsync had optional arguments to create a partitioned database.

Many Thanks

[2021-03-10 23:30] matteobortolazzo commented on #122
Hi, no, not yet. I will give a look

[2021-03-14 18:19] MichaelKoch opened #123 "Fields ID an Rev are emtpy when using the select"
**Fields ID an Rev are emtpy when using the select**

Retrieving all Properties is working fine:
[code]
![image](https://user-images.githubusercontent.com/6448147/111079352-f4941280-84f9-11eb-96b2-7dbfab57ea8d.png)

When fetching only particular Properties the Id and Rev Field is empty

[code]
![image](https://user-images.githubusercontent.com/6448147/111079264-894a4080-84f9-11eb-9c7e-d864e2428892

[2021-03-14 18:22] MichaelKoch opened #124 "Linq Count function not working"
**Linq Count function not working**
to have a proper working paging ( Total/Skip/Take) it is usefull to have the count
function working
[code]

Results in Exception :
Ausnahme: CLR/System.AggregateException
Ein Ausnahmefehler des Typs "System.AggregateException" ist in System.Private.CoreLib.dll aufgetreten.: 'One or more errors occurred.'
Innere Ausnahmen gefunden. Weitere Informationen hierzu fi

[2021-03-14 19:51] matteobortolazzo commented on #123
Hi, this is because the JSON response is different, you can try to have `_id` and `_rev` instead of `Id` and `Rev`.

I know it's not great. I might try to improve on it in the future.

[2021-03-14 20:01] matteobortolazzo commented on #124
Hi, I would suggest using `ToCouchListAsync` as CouchDB already has a [pagination feature with bookmarks](https://docs.couchdb.org/en/stable/api/database/find.html#post--db-_find). I want to stay as close as possible to CouchDB API so as in the exception, it does not support `Count` since be API does not support it directly.

[2021-03-14 20:01] #124 closed

[2021-03-17 21:05] matteobortolazzo opened #127 "PropertyCaseType must be ignored if it's a library defined property"

[2021-03-20 20:53] matteobortolazzo commented on #123
This is not a bug, it's how CouchDB works ([docs](https://docs.couchdb.org/en/stable/api/database/find.html#filtering-fields)) so I close this one

[2021-03-20 20:53] #123 closed

[2021-03-20 21:01] #127 closed

[2021-03-20 21:01] #122 closed

[2021-04-20 11:12] ishamfazal opened #129 "Select fields except for certain fields"
hi just a quick thought, like in mongo is it possible to retrieve all the fields except for specific fields instead of writing down all the fields that's required it would be easy if I could specify which of the field is not required and return the rest. this is more useful for a long property list in a class. if its implement please give an example. TIA

[2021-04-20 19:50] matteobortolazzo commented on #129
Hi, do you have any examples?

[2021-05-17 16:39] NBroomfield opened #130 "Attachments lost on AddOrUpdateRangeAsync"
Hi,

Performing a FindManyAsync followed by a AddOrUpdateRangeAsync seems to results in any existing attachments being lost on save:

var documents = await Db.FindManyAsync(docIds);
await Db.AddOrUpdateRangeAsync(documents);

Thanks

Neil

[2021-05-17 19:48] NBroomfield commented on #130
I think you need to persist the _atachments metadata on the CouchDocument and send it back (serialise) on put/post back to couchdb, if I add the following to my document model, this attachments are no longer lost:

    public class MyDocument : CouchDocument
    {
        [JsonProperty("_attachments")]
        public Dictionary<string, object> RealAttachments;
    }
}

[2021-05-26 13:34] AlexandrSHad opened #131 "Dependency injection in the CouchContext constructor"
Hi!
I am trying to inject IConfiguration into the class which implements CouchContext like this:
[code]
That doesn't work. I figured out that OnDatabaseCreating() method is called before constructor because of [this code](https://github.com/matteobortolazzo/couchdb-net/blob/420d2de7fc49807f5a75d03393d8346b13fd1e75/src/CouchDB.Driver/CouchContext.cs#L38). Is that by intention?

[2021-06-11 14:01] Wheelskad opened #132 "ToList limitation / View Mapping"
Hi,
I'm try your library and have some questions :
1) When i try to make a call to couchdatabase.ToList() i have just 25 entries in my list and not all my records. Why ? How to do that ?
2) I need a count of a specific document type how to do that with your library ?
3) Could you provide more explicit example on couchdb view and library call (ex: how rebel view is defined in design doc, how mappin

[2021-06-13 13:17] matteobortolazzo commented on #132
Hi, so

1. 25 is the default for CouchDB, you have to use Take(x) to specify a different number
2. There's no built-in way to do that in Couch, You can get DB info which has the documents count inside or use the `_count` view
3. Views are defined by you, with no support in the library since they are Javascript functions. The mapping is just the key-value pair defined in the function.
4. There's no

[2021-06-17 10:02] Wheelskad commented on #132
Hi,
Thank you for your response.
It is possible to implement linked document with your library like describe here (https://github.com/jo/couchdb-best-practices#linked-documents) ?
Thank in advance !

[2021-07-06 09:14] DDMLinnemann opened #133 "Parallel calls resulting in broken CouchDB requests / ASP.NET Core Web API"
Hi,

I'm using the driver in a ASP.NET Core Web API (net5.0) project. The Context is registered in the Startup.cs file by using the dependency injection extensions provided in this repo.

Everything runs fine but when I'm generating 1000 requests accessing the same Web API endpoint in parallel I'm facing some 400 Bad Request responses from CouchDB.

I'm seeing broken CouchDB requests generated by

[2021-07-14 14:32] matteobortolazzo commented on #133
Hi, sorry for the late answer. Thanks for letting me know, I will give a look but not in the near future

[2021-07-14 14:33] matteobortolazzo commented on #132
Hi, it's probably possible, I will keep an eye when I implement new feature.
Do you mind closing this issue and create a new one for linked documents?

[2021-07-14 14:35] matteobortolazzo commented on #131
Hi, sorry for the late answer, yes the code is like that because it's the only one I found to achieve what I wanted. However I will give a look in the future at this again, unless you found a solution :)

[2021-07-14 14:36] matteobortolazzo commented on #130
Hi, thanks for letting me know, I will give a look in the future

[2021-07-15 12:47] AlexandrSHad commented on #131
Guess it might be implemented like in EF: https://github.com/dotnet/efcore/blob/main/src/EFCore/DbContext.cs#L293
Where DbSets and Model initialization happens during the first call and after that caches the result. Instead of doing that right in the constructor. What do you think?

[2021-07-21 09:40] matteobortolazzo commented on #131
Cool! thanks for letting me know!

[2021-08-02 12:41] AlexandrSHad opened #134 "CouchDB.NET logging"
Hi!
I'd like to know how do you perform logging?
I get that it is possible via Flurl using AfterCall event and ConfigureFlurlClient() method. But I think it would be better CouchDB.NET provides its own logging system. In this case to enable logging the only thing to do is to change the logging level in an appsettings.json. Do you have any plans regarding this? Or what is your logging strategy?

[2021-08-03 14:04] matteobortolazzo commented on #134
Hi,

at the moment there is no built-in Logger.
Do you think something like is ok? [EF Core logging](https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/simple-logging)

Seems like a lot of work tho. So I will give a deeper look one I have time to take all the issues and bring the next major release

[2021-08-03 16:48] AlexandrSHad commented on #134
I meant exactly integration with [Microsoft.Extensions.Logging](https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/extensions-logging?tabs=v3). And to be honest I did not know about simple logging in EF)
While simple logging is a cool feature, but I more care about logging in production.
We are using the Autofac DI container and Serilog for logging. To set up all this stuff I need

[2021-08-05 10:27] matteobortolazzo commented on #134
I got. To be honest I prefer to do a proper implementation. I should be able to work on it in the coming weeks

[2021-08-05 20:39] AlexandrSHad commented on #134
Ok.
Thank you!

[2021-08-12 07:46] AlexandrSHad opened #136 "FirstOrDefault() method doesn't work when database splitting is used"
Looks like FirstOrDefault() method doesn't work in combination with a discriminator.
To reproduce this you can add the following tests to the [file](https://github.com/matteobortolazzo/couchdb-net/blob/master/tests/CouchDB.Driver.UnitTests/Find/Find_Discriminator.cs):
[code]
Exception "System.IndexOutOfRangeException : Index was outside the bounds of the array." will be thrown.

[2021-08-12 21:45] matteobortolazzo opened #137 "Cache generated queries"

[2021-08-13 07:50] ulja-dd opened #138 "No results using Linq Where() with List.Count condition"
Hi,

I'm using CouchCB.NET 3.1.0 via nuget.org

The db query is supposed to return all `User` documents where the `List` property `RoleIds` is not empty. I'm using the following Linq statement to do so:
[code]
The expected result is to get some users. The `Users` database has users where the condition is true, however the `usersWithRoles` is always empty.

Is there something I'm doing wrong or is

[2021-08-13 10:38] AlexandrSHad commented on #138
As far as I see that is not supported by CouchDB itself.
You only can query data like this:
[code]
But that's a bad idea. Maybe a better solution would be to create a dedicated view.

[2021-08-17 10:12] LoloActemium opened #139 "Views creation via HasViews syntax"
Hi,

I'm currently using your lib to log OPC/UA events in CouchDB database (and I like it :)).
I use your lib because I'm a CouchDB noob and I'm an EF Cpore user on some other projects (using SQL Server as DB).
Is there a way to create views within the OnDatabaseCreating(....) function ?
An HasView(...) syntax would be nice, but I could find it.
Or should I have to implement it myself ?

Kind rega

[2021-08-17 19:49] matteobortolazzo commented on #139
Hi,

thanks for the kind words :)

No there's not even a method to create views normally.
This is because views are Javascript functions and since I didn't want to invest in C# to JS I implemented only the reading

[2021-08-18 05:40] LoloActemium commented on #139
Hi,
And what about "just" implementing a view creation with Js as simple string ?
In a curl fashion, passing the Js in a POST request.
Kind Regards,
Laurent.

[2021-08-19 13:17] LoloActemium commented on #139
Hello,
I implemented it this way (see code below) in my DatabaseContext file. It's based on the lib source code for Login/Logout and GetName.
[code]
It's enough for me, as it sends an 400 error when the Js code is not well formatted (does not check document properties names, but not a problem for me).
I had to copy/adapt some functions because allmost all interesting functions/properties are marke

[2021-08-27 15:44] ulja-dd opened #140 "Newtonsoft.Json.JsonReaderException thrown using GetContinuousChangesAsync"
Hi,

I'm using CouchCB.NET 3.1.0 via nuget.org

The exception occurs sometimes when there is high workload. In cases where the exception is thrown the changes feed response line has two concatenated change documents.
I guess the reason is that FlurlClient is mixing data of different requests.

Following is a more detailed explanation:

I'm using a BackgroundService to process changes from particul

[2021-08-29 20:13] matteobortolazzo commented on #140
Hi, I think it's not related to #133 as that is about the string builder for queries not being thread-safe.

This one is about what CouchDB returns. And I thought I handled that, but I'll give a look

[2021-08-29 21:13] matteobortolazzo commented on #140
@ulja-dd I added some code to check for multiple "lines" in 1 line, I suppose it will be slower but it should not break. Can you test the dev branch and let me know please?

[2021-08-31 19:13] matteobortolazzo commented on #133
@DDMLinnemann can you check the dev branch and let me know?

[2021-09-06 10:39] ulja-dd commented on #140
Thank you for having a look at this issue! And sorry for my late reply.

I've done two tests:
1. Only replacing the couchdb-net projects by the code from dev branch
2. Removing the "inner" scope and instanciating the CouchDB contexts outside of the GetContinuousChangesAsync foreach loop. This way the context used reading the changes feed is also used to handle the change.

In both cases the except

[2021-09-07 16:44] AlexandrSHad opened #141 "FindManyAsync() method should not include null in the resulted list for docs which were not found"
Hi! I continue using CouchDB.NET and while it gives us a lot of convenient features I have found one thing to be discussed. It looks like a minor bug. But you have the last word on that.
The issue is described below:
[code]
In this case the response from CouchDB will be the following:
[code]
And entityList will have two items: fetched entity with id 123456 and null for not found entity with id 987

[2021-09-07 19:26] matteobortolazzo commented on #141
Hi, I don't know if we can classify this as a bug, however, there is no need for a null object.

So yeah, please create a PR :)

Thanks a lot

[2021-09-07 19:26] matteobortolazzo commented on #140
@ulja-dd I am glad to hear that! I'll work on more bugs then I'll release everything

[2021-09-07 19:33] matteobortolazzo commented on #139
Hi @LoloActemium ,

yes, I can consider implementing it, it's not a bad idea.

In the meanwhile, you can refactor your code using [NewRequest()](https://github.com/matteobortolazzo/couchdb-net/blob/master/src/CouchDB.Driver/ICouchDatabase.cs#L249) method in ICouchDatabase as it gives use authentication and the document URL for free.

A you should using async-await if possible

[2021-09-07 19:40] matteobortolazzo commented on #138
@ulja-dd both options are valid

@AlexandrSHad why do you think it's a bad idea?

I agree on the use of views, but would it hurt to implement it?

[2021-09-07 21:03] matteobortolazzo opened #142 "First/Last etc with condition don't work"

[2021-09-09 09:45] AlexandrSHad commented on #138
My concern is this wouldn't work fast on a big amount of data as we have no dedicated index. You might say that any query wouldn't work fast without required indices, but in this case, I am not aware if indexing by array length is even possible. The only way is to use partial index along with UseIndex() method. And this is a fine tunning CouchDB.NET is not allowed to do on its own as CouchDB can't

[2021-09-27 15:57] dmrayt opened #145 "Use of System.Text.Json"
Hi!
Is there some plan to support System.Text.Json?

For Flurl, it's already possible with [https://github.com/YellowLineParking/Appy.Flurl](https://github.com/YellowLineParking/Appy.Flurl).

[2021-09-27 19:44] matteobortolazzo commented on #145
Hi, no plan for it yet. I would like to keep Newtonsoft option available so people don't need to change their code too much. I haven't researched it yet

[2021-09-28 07:19] dmrayt commented on #145
I didn't mean to replace Newtonsoft but add support for System.Text.Json as an option.

I don't know how much you use from Newtonsoft but the first step could be to use attributes from both library in your models.
e.g:
[code]

[2021-10-12 20:56] matteobortolazzo opened #146 "Add support for linked documents"
https://github.com/jo/couchdb-best-practices#linked-documents

[2021-10-14 19:53] #132 closed, assigned to nobody

[2021-10-14 20:09] matteobortolazzo commented on #114
Closing this for now as it's not a critical feature

[2021-10-14 20:09] #114 closed

[2021-10-14 20:12] matteobortolazzo commented on #145
So I did a bit of research, even if I want to implement System.Text.Json, it will take a huge amount of work. The NetwonSoft is used everywhere from deserialization of internal classes to options.

So I will keep this here not there will no updates in the near future

[2021-10-14 20:22] #133 closed

[2021-10-14 20:22] #138 closed, assigned to nobody

[2021-10-14 20:22] #140 closed, assigned to nobody

[2021-10-14 20:22] #141 closed

[2021-11-08 15:58] tjrobinson opened #150 "Ability to make discriminator field name `split_discriminator` configurable"
We have existing databases which contain multiple types. The [database splitting](https://github.com/matteobortolazzo/couchdb-net#database-splitting) feature allows for this to be possible. However, the field name is fixed to `split_discriminator` but we already have a field `docType` and would like to use this instead to avoid needing to update all existing documents.

Could this be made configur

[2021-11-08 21:19] matteobortolazzo commented on #150
Hi,
at the moment is not possible to configure it.
I need time to investigate.
something I can think about is a custom JSON converter for Flurl set on client creation via the options.
But I don't know exactly at the moment

[2021-11-08 21:32] matteobortolazzo commented on #150
I am working on the logging feature. I'll give a look at this after it. Unless you find a nice solution :)

[2021-11-23 11:02] emrecaglar opened #152 "DownloadAttachment as Stream"
A stream-returning method is required to access the file from memory without writing it to disk.

DownloadAttachmentAsync like

[code]

[2021-11-23 18:06] broomfn opened #154 "FindManyAsync returns deleted documents, but not sure how to identify them?"
FindManyAsync seems to return deleted documents, Is there currently a way to identify if the document is deleted or not?

If not would it be possible to expose _deleted=true on the CouchDocument for example.

Thanks

[2021-11-23 18:09] broomfn commented on #152
I'm not sure if it helps or not, but I wrote a method to return the data as bytes using Flurl:

`
            // Get the attachment as a byte array
            return await mCouchDbOptions.Endpoint.WithBasicAuth(mCouchDbOptions.Username, mCouchDbOptions.Password)
                .AppendPathSegment(databaseName)
                .AppendPathSegment(Uri.EscapeUriString(document.Id))
                .A

[2021-11-23 21:55] matteobortolazzo commented on #154
Hi, that's a tricky one. Is that correct that the DB returns deleted documents in the first place?

[2021-11-24 10:40] broomfn commented on #154
The FindManyAsync method, uses the _bulk_get CouchDB endpoint, if I user ThunderClient/Postman and pass a deleted document id, such as:

[code]

I get the following result:

[code]

[2021-11-24 21:49] matteobortolazzo commented on #154
I trust you,
what I am saying, can it be a CouchDB bug or missing setting on DB level?

I am asking because it's not documented on their end

[2021-11-25 15:18] broomfn commented on #154
I'm would it's by design, but poorly documented, there's some information on the _delete flag here:

https://docs.couchdb.org/en/stable/api/document/common.html
https://docs.couchdb.org/en/stable/ddocs/ddocs.html
https://docs.couchdb.org/en/stable/replication/conflicts.html
https://docs.couchdb.org/en/stable/api/database/misc.html

The most convincing bit would probably be the fist link where is d

[2021-11-25 15:40] broomfn commented on #154
https://github.com/apache/couchdb/discussions/3849

[2021-11-25 19:23] broomfn commented on #154
https://github.com/apache/couchdb/issues/3608#issuecomment-873263210

[2021-11-29 15:48] broomfn commented on #154
Hi,

I've added the following to properties to my document as a workaround until this gets fixed:

[code]

[2021-11-29 16:33] tehmang opened #155 "Exception in QueryableMethods, line 197, because .NET 6 has two ElementAt methods with two parameters."
In .NET 6, there are two ElementAt methods having two parameters: the new one takes an Index as second parameter: [Queryable.ElementAt Method](https://docs.microsoft.com/fr-fr/dotnet/api/system.linq.queryable.elementat?view=net-6.0#System_Linq_Queryable_ElementAt__1_System_Linq_IQueryable___0__System_Index_)
The Single query in line 197 raises the exception "Sequence contains more than one matchin

[2021-11-30 15:50] Sacrilege commented on #155
I created a PR for this. https://github.com/matteobortolazzo/couchdb-net/pull/156

[2021-12-03 21:27] matteobortolazzo commented on #154
Hi, I think we can add a parameter to filter out delete documents

[2021-12-03 21:29] matteobortolazzo commented on #155
Hi, I merged the PR in dev.

If you needing asap, I can release a preview package

[2021-12-04 12:52] tehmang commented on #155
Hi,
Thanks for this quick fix !
I saw you also fixed Take method that I forgot to mention in the issue.
I don't need it asap: I also have a local fix which I wanted to submit soon, so I can use it to work on my current dev.
I'll take the official version when you will release it, thanks.

[2022-01-06 20:46] mwasson74 opened #157 "[Question][Help] - Downloading Attachments"
We are using PouchDB and it is being synched/replicated to databases within CouchDB. Our pouch documents have attachments which are in turn being synched to CouchDB.

When trying to download the attachment using `var file = await db.DownloadAttachmentAsync(attachment, Path.GetTempPath(), cancellationToken: cancellationToken);` it is failing because the `attachment.Uri` is null. It seems it is null

[2022-01-07 13:52] mwasson74 commented on #157
Upon further inspection of the `CouchDatabase` class, I see that `InitAttachments()` is called when calling `FindManyAsync()` but not when calling `FindAsync()` which is what we were using to find our document. As a workaround, we are now using `FindManyAsync()` to get our document so that `InitAttachments()` gets called to set the `Uri` property so that we can successfully use `DownloadAttachment

[2022-01-11 16:17] mwasson74 opened #158 "[Question][Help] - Update Just the Document; Not Attachment(s)"
When trying to update a property on a document by calling `AddOrUpdateAsync(updatedDocument...)`, the CouchDB server is returning the following:
[code]
What am I doing wrong here?

Thanks,

Matt

[2022-01-12 22:10] matteobortolazzo commented on #157
Hi, sorry the late answer.

It seems like a bug, I don't think it hurts at all but it seems strange I missed it.

Since you check the code do you mind give it a try and PR it? As I am deep is another feature right now

Thanks

[2022-01-12 22:11] matteobortolazzo commented on #158
Hi, I think nothing wrong,
but another bug.

I didn't test attachments very well to be honest

[2022-01-14 11:27] matteobortolazzo commented on #157
No worries :) You need to fork on you own account to PR me.
So press fork, clone in you PC (dev branch) apply changes and then PR this repo

[2022-02-02 21:28] mwasson74 commented on #155
Hello,

I am in the process of migrating our app to .NET 6 and am running into a similar issue with FirstOrDefault as below:

[code]
Associated Stack Trace:
[code]
Do you have any suggestions as a workaround until the next release?

Thanks!!

[2022-02-03 14:28] mwasson74 commented on #155
FYI - I was able to take @Sacrilege's changes and that fixed my issue for the time being. Apparently, `FirstOrDefault()` was causing the issue but instead it was what @Sacrilege fixed.

[2022-02-03 19:09] matteobortolazzo commented on #155
@mwasson74 glad to hear. Let me know if you need a preview release of the current dev branch

[2022-02-22 00:24] ryzam commented on #79
Any example to use proxy authentication so that it can be as middleware between pouchDB & couchDB

[2022-02-24 20:27] matteobortolazzo commented on #79
Hi,

not really, I dont remember if I implemented it myself or with PR, but probably it just followed the docs here https://docs.couchdb.org/en/stable/api/server/authn.html#proxy-authentication

I suppose the token property was not there in the past

[2022-03-04 18:42] TGrannen commented on #155
Hey @matteobortolazzo, is there any timeline/roadmap for this fix to be included in a release (or preview release) build? Just started working with this package on a new .NET 6 project, and this gave me quite the headache.

I'm trying to figure out if I should keep going down the path of using this package or switch to something else since it's still early in development. Thanks!

[2022-03-04 21:32] mp250720 commented on #155
I second this. A preview package would be awesome. Thanks.

[2022-03-06 12:53] matteobortolazzo commented on #155
@TGrannen sorry I have been very busy in the last months, I hope to get back to it soon.
But I totally release a preview package with the current dev branch!

https://www.nuget.org/packages/CouchDB.NET/3.2.0-Preview

CC @mp250720

[2022-03-06 18:08] TGrannen commented on #155
@matteobortolazzo No problem! I'll pull it down and give it a try tomorrow! Thanks!

[2022-03-07 19:34] mp250720 commented on #155
Thanks so much!

[2022-03-24 20:41] adcorduneanu opened #160 "Use regex on a string collections"
There are a lot of times where I was forced to check if there is any match in the given collection, based on a full, or partial match.

From what I tried, this is not possible at the current time.

Let's assume that have a Receipt entity that has a property named Data, which is a List<string> type, and you want to query it by some text. This will end up in an expression like the following one.

[c

[2022-04-03 19:57] matteobortolazzo commented on #160
Hi, as a recap, you want regex to work on lists and the current code makes it impossible because it adds a layer of "{ }" that is not needed.

If this fixes your issue without breaking the current normal query, I am happy with it 🙂

I am very busy right now, but if you create a PR to the dev branch, I can merge and release a preview

[2022-04-06 07:51] matteobortolazzo commented on #160
3.2.0 Preview 2 released!

[2022-04-06 18:49] adcorduneanu commented on #160
As this was merged, the issue can be closed.

[2022-04-06 18:49] #160 closed

[2022-04-17 21:48] shinmantis opened #162 "401 Error when using a Non-Admin user"
Hello,

When I add a new user using couchDB.net, it does not accept the credentials when attempting to access my document database.

![image](https://user-images.githubusercontent.com/10136404/163732898-48f3d7f9-f7bf-4277-9b11-fe9ebc845d64.png)

I have added the user explicitly to the document db using couch's admin console

![image](https://user-images.githubusercontent.com/10136404/163732923-9ee

[2022-05-06 18:17] nefarius opened #163 "Attachment upload not working"
Using [`3.2.0-Preview2`](https://www.nuget.org/packages/CouchDB.NET/3.2.0-Preview2) on Apache CouchDB v. 3.2.1

I'm basically looping through files uploaded to my backend and attempt to add them as attachments like so:

[code]

The `AddOrUpdateAsync` fails with a 400 Bad Request.

### Request Payload

The added image name is `IMG_20191216_204343.jpg`, this is the partial payload send and rejected

[2022-05-07 10:17] nefarius commented on #163
If I craft my own image upload request (via official CouchDB docs and what I see in Wireshark when I perform an upload in the admin web UI) it also implicitly updates the document payload accordingly:

### Sending request with Insomnia

![image](https://user-images.githubusercontent.com/286631/167249959-0eb96d1b-b17a-49a8-8773-7a36ad79a4df.png)

### Wireshark capture

![image](https://user-images.

[2022-05-16 21:16] matteobortolazzo commented on #162
Hi, sorry for the late answer.

I think I am missing something. You said `UseBasicAuthentication` is working, so what other authentication mode is not working for you?

[2022-05-16 21:17] matteobortolazzo commented on #163
[Preview 3](https://www.nuget.org/packages/CouchDB.NET/3.2.0-Preview3) Released

[2022-05-16 21:17] #163 closed

[2022-05-25 23:28] shinmantis commented on #162
Hello Matt,

When I try to use the `Couchdb-net` library with non-admin credentials, it throws the `401 Unauthorized` error.  If you recall, there are two levels of credentials.

General Couchdb service credentials which are needed to log into the localhost

![image](https://user-images.githubusercontent.com/10136404/170385229-5e56b9ff-98ae-4fed-b0e5-88a1fa2ae115.png)

and database specific creden

[2022-06-15 14:26] nefarius opened #166 "Add support for Replication"
Are you interested in adding replication configuration and status support to the API or would be OK if I'd attempt to PR it?

I'd love to have one single point of truth to my database and check if replication configuration is how I'd need it and correct it automatically in my service without ever having the need to touch the admin UI.

On a different note: what's missing from v3.**2**.x to conside

[2022-06-15 21:06] matteobortolazzo commented on #166
About replication and status go ahead with a PR, I think it's very nice to have!

For 3.2 I was working on a complete logging system like the entity framework one, I am close to finishing it, but I am too busy with other things.

[2022-06-18 23:00] matteobortolazzo commented on #162
Hi,

I had time to test a bit.

From the docs, members can work on documents.

I tried to create a new user `matteo`, and I added it to the member's **Users** list and I removed `_admin` from the member's **Roles** list.

I run an E2E test that creates a document with `matteo` and it worked fine.

![rebels](https://user-images.githubusercontent.com/15217470/174459614-87e074b1-5834-4abd-ae0e-7f888d

[2022-06-20 12:49] mauro-rogledi opened #167 "Resolve conflicts"
I didn't understand how to work with conflicts.
I need to find, apply resolution logic, and remove any conflicts.

According to the couchdb specification the command to send would be this:

`GET /recipes/SpaghettiWithMeatballs?rev=6-136813b440a00a24834f5cb1ddf5b1f1`

I haven't found how to do this with your library.
Thank you

[2022-06-21 07:29] mauro-rogledi commented on #167
I tried adding this method to the CouchDatabase class of your library and it works.
Could it be interesting to add it to the standard version?

[code]

[2022-06-30 13:28] tjrobinson commented on #155
@matteobortolazzo Thanks for the fix for this. Now that .NET 5 is out of support and .NET 6 is the LTS version - are you be able to push out a non preview version of 3.2.0?

[2022-07-03 12:26] matteobortolazzo commented on #155
Yes it's a good idea, releasing now

[2022-07-03 12:34] matteobortolazzo commented on #167
Hi, sorry for the late answer,

I checked the docs, they say to merge them manually, upload the new version and then delete the conflicted one to resolve.
https://docs.couchdb.org/en/stable/replication/conflicts.html#working-with-conflicting-documents

So I can give a look at how to implement this correctly as both the get and the delete need a rev parameter

[2022-07-03 12:35] matteobortolazzo commented on #167
But the merge itself must be done manually so not sure how useful it would be to add the rev to the library

[2022-07-03 16:16] matteobortolazzo commented on #166
Hi, does this help you in any way? https://github.com/matteobortolazzo/couchdb-net/pull/151

[2022-07-03 16:16] matteobortolazzo commented on #162
Closing this for now

[2022-07-03 16:16] #162 closed

[2022-07-03 16:16] matteobortolazzo commented on #158
v3.2.0 Released

[2022-07-03 16:16] #158 closed

[2022-07-03 16:17] matteobortolazzo commented on #157
v3.2.0 Released

[2022-07-03 16:17] #157 closed

[2022-07-03 16:17] matteobortolazzo commented on #155
v3.2.0 Released

[2022-07-03 16:17] #155 closed

[2022-07-03 16:17] matteobortolazzo commented on #152
v3.2.0 Released

[2022-07-03 16:17] #152 closed

[2022-07-03 18:20] nefarius commented on #166
Oh cool, didn't even see that, thanks! Haven't had the time to start working on it anyway 😬

[2022-07-16 12:31] dmlarionov commented on #167
Hello!

Because not only @mauro-rogledi need passing revision to `FindAsync`, but also I need to pass revision to `AddOrUpdateAsync` method, I made [the pull request](https://github.com/matteobortolazzo/couchdb-net/pull/170) covering both cases.

I suggest not to add parameters, but introduced [parameter object](https://refactoring.com/catalog/introduceParameterObject.html) for both methods in my

[2022-07-18 04:25] minhdanghuu opened #171 "Bulk delete support ?"
According to the https://docs.couchdb.org/en/3.2.0/api/database/bulk-api.html . We can bulk delete by passing _deleted = true. It seem that CouchDocument does not have that field. How can i bulk delete documents?

[2022-08-09 08:22] mauro-rogledi opened #172 "DocumentId with slash"
If a document ID contains slash, the saved document is incorrect.

Example:
[code]

The resulting document on CouchDB will be:

[code]

[2022-09-20 07:15] mauro-rogledi opened #174 "Add indexes in OnDatabaseCreating method"
Using Dependency Injection, the OnDatabaseCreating method is called too early.

This is my context
[code]

And this is my programs

[code]

When the context is created through dependency injection
[code]

In `OnDatabaseCreating `method, following your guide, I add the index, but the database doesn't exist yet.

After this, the `Initialize Database` method finds no properties and the database is no

[2022-09-29 22:42] esskar opened #175 "Non-nullable Tables in Context"
Hey,

thanks for the library.
I have `<Nullable>enable</Nullable>` configured in my csproj.

[code]

Does not compile. What is your recommended way?

[2022-09-29 22:47] matteobortolazzo commented on #175
Hey I will give a look in a week or 2, but what's error? You can new() so it should initialize it, no?

In the meanwhile you can disable the check with #nullable disable and #nullable restore

[2022-09-30 05:51] esskar commented on #175
Thanks for the feedback.

Well, the constructor of the CouchDatabase is internal and tasks some parameters.

[2022-10-05 21:58] esskar opened #176 "Exception when running a query."
Hi,

I have a document with a nullable `DateTimeOffset`
and I have the following query

[code]

[2022-10-06 09:03] esskar commented on #176
Maybe related, the unit test `Crud_Index_Context` currently fails with the lastest couchdb

[2022-10-06 09:29] esskar commented on #176
Test to reproduce bug

[code]

[2022-10-19 21:40] matteobortolazzo commented on #166
Can this be close with your PR on the interface?

[2022-10-19 21:41] matteobortolazzo commented on #167
@dmlarionov PR is now merged in dev, sorry for the delay. Will release soon

[2022-10-19 21:42] matteobortolazzo commented on #171
Hi, sorry for the delay. It's not possible. But I'll try to implement it

[2022-10-19 21:44] nefarius commented on #166
Right 👍

[2022-10-19 21:44] #166 closed

[2022-10-19 22:08] matteobortolazzo commented on #171
Give a look at the commit above please :)

[2022-10-19 22:16] matteobortolazzo commented on #172
Hi, is this supported by CouchDB anyway?

[2022-10-19 22:32] matteobortolazzo commented on #175
I think disabling nullable with the compiler directive is the only way. It uses reflection to set the values. Didn't check if Entity Framework as the same issue. I will keep an eye on it. I close it for now

[2022-10-19 22:32] #175 closed

[2022-10-19 22:41] matteobortolazzo commented on #174
Hey, no I don't think it's called too early. That's just the configuration method, not the actual call. Why do you have no collection properties in the `RecordingContext`?

If the property for the index is not declared it skips the index creation

[2022-10-19 23:12] matteobortolazzo commented on #154
It took a lot, but I added the property :)

[2022-10-19 23:16] #154 closed

[2022-10-19 23:16] #167 closed

[2022-10-19 23:16] #171 closed

[2022-10-19 23:16] #172 closed

[2022-10-24 07:26] mauro-rogledi opened #180 "CouchDB.NET.DependencyInjection"
Hi If I using last version of this package, I must use the version 3.2.0 of CounchDb.Net.
If I using the 3.3 version Visual Studio at runtime return this error

System.IO.FileNotFoundException: 'Could not load file or assembly 'CouchDB.NET, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.'

[2022-10-26 20:37] matteobortolazzo commented on #180
My bad, this should work [https://www.nuget.org/packages/CouchDB.NET.DependencyInjection/3.3.1](https://www.nuget.org/packages/CouchDB.NET.DependencyInjection/3.3.1)

[2022-10-26 20:37] #180 closed

[2022-10-28 18:02] adam8797 opened #182 "Support retrieving available revisions of a document"
I would like to be able to request a Document from CouchDB and optionally include the `revs_info=true` parameter to retrieve which revisions are available in the database.

There are numerous ways that this could be implemented:
- Included with `FindOptions` and used in `FindAsync()`
- A separate function `Task<List<string>> GetAvailableRevisions(string)` and/or `Task<List<Revision>> GetRevisionIn

[2022-10-28 18:18] adam8797 opened #183 "Bug with querying overlaping string arrays"
Note: I'm working on a minimum working example of this bug, but I may not get to it. If you want to delay triage until then, thats understandable.

We've got a model class

[code]

A query that I run elsewhere:

[code]

If I print out mango queries before execution, I see this as the Mango Query for `Get("Foo", "Bar")`:

[code]

This is invalid. I would expect the following query:

[code]

[2022-11-07 23:50] esskar commented on #175
I think the prefered way is using `null!` like

[code]